@model EducationPortal.UI.Models.TestViewModels.TestVM

@{
    ViewData["Title"] = "CreateTest";
}

<h1>CreateTest</h1>

<h4>TestVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Test" class="btn btn-primary" />
            </div>


            <div class="col-md-6 offset-md-4">
                <button type="button" id="questionButton" onclick="AddQuestion()" class="btn btn-primary">
                    Add New Question
                </button>
            </div>

            <br />
            <div name="Questions" id="questions">


            </div>
            <div name ="Answers"id="answers" >


            </div>
        </form>
    </div>
</div>
<script src="~/js/testCreation.js" asp-append-version="true"></script>

