@model EducationPortal.UI.Models.VideoMaterialVM

@{
    ViewData["Title"] = "Add Video";
}

<h1>Add Video</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateVideo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quality" class="control-label"></label>
                @Html.DropDownListFor(Model => Model.Quality, Html.GetEnumSelectList(typeof(VideoQualityVM)))
                <span asp-validation-for="Quality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
