/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Book styles*/
.mainWordB {
    text-align: left;
    color: white;
    font-family: "Noto Serif Armenian";
    font: bolder;
}

.inputcolorB {
    color: black;
    background-color: antiquewhite ActiveBorder;
    opacity: 0.95;
}

.library {
    background-image: url( ../images/books-lit@2x-e1550903308223.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Article styles*/
.mainWordA {
    text-align: center;
    color: black;
    font-family: "Times New Roman";
}

.clsd {
    margin: 0 0 0 auto;
    background-color: #f8f9fa;
    width: 20%;
    opacity: 0.95;
    border-radius: 2px;
}

.inputColorA {
    background-color: white;
    opacity: 0.95;
}

.article {
    background-image: url(../images/превью.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Video styles*/
.mainWordV {
    margin-top: 15px;
    text-align: end;
    color: white;
    font-family: "Frank Ruhl Hofshi";
    opacity: 0.9;
}

.clsd {
    margin: 0 0 0 auto;
    background-color: #f8f9fa;
    width: 20%;
    opacity: 0.95;
    border-radius: 2px;
}

.inputColorV {
    background-color: white;
    opacity: 0.95;
}

.cls {
    float: right;
}

.video {
    background-image: url(/images/abstrakciya-siniy-svet-pautina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Other*/
.materials {
    background-image: url(/images/books-1281581_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.materialsColor {
    color: white;
}
.paragraphColor {
    background-color: aliceblue;
    color: black;
    opacity: 0.9;
    border-radius:25px;
}
.materialList {
    margin: 20px;
    align-content: center;
    text-align: center;
}
.books {
    font-family: "Times New Roman";
}
.articles{
    font-family: Calibri;
}
.videos{
    font-family:Consolas;
}

.textCenter{
    text-align:center;
}
.backgroundcolor {
    font-family: "Times New Roman";
    color: white;
    opacity: 0.95;
}

a {
    color: #0366d6;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

header {
    opacity: 0.95;
}

.footer {
    opacity: 0.95;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
